body {
    background: #dadada;
    font-family: Unbounded;
}

* {
    margin: 0;
    padding: 0;
}

#menu {
    width: 100em;
    font-family: Unbounded;
    background: #4e4e4e;
    padding: 1em 0;
    position: fixed;
    top: 0;
    right: 0;
}

#menu ul {
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
}

#menu ul ul {
    display: none;
    position: absolute;
}

#menu ul ul li {
    display: block;
}

#menu li {
    position: relative;
}


#menu li a {
    background: #4e4e4e;
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1em;
}

#menu li a:hover {
    font-size: 1.1em;
    background: #575757;
    color: rgb(255, 255, 255);
}

#menu ul li:hover>ul {
    display: block;
    top: 100%;
}


#menu li {
    text-transform: capitalize;
    font-size: 0.9em;
    min-width: 140px;
    text-align: center;
}

p {
    padding: 20px;
    margin-top: 100px;
}


.text {
    height: 2em;
}